/* style sheet */

.app {
    font-family: "Trebuchet MS", "Lucida Grande", Verdana, Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px;
}

.questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question-box {
    background-color: teal;
    margin: 15px;
    color: white;
    border-radius: 10px;
    padding: 0 40px 10px 40px;
}