/* style sheet */

.app {
    font-family: "Trebuchet MS", "Lucida Grande", Verdana, Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px;
}

.questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question-box {
    background-color: teal;
    margin: 15px;
    color: white;
    border-radius: 10px;
    padding: 0 40px 10px 40px;
}

.question-box h1 {
    text-align: left;
    color: black;
}

.question-buttons {
    display: flex;
    flex-direction: row;
}

.question-button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: crimson;
    color: white;
}

.question-button:disabled {
    background-color: black;
    color: white;
}